.introduction {
    padding-bottom: 100px;

    &-img {
        margin-top: 110px;
        padding: 20px;
        width: 90%;
        border: 1px solid #425d72;
    }

    &-title {
        margin-top: 110px;
    }

    &-subtitle {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.3;
    }

    &-text {
        color: #969a9b;
    }
}

.statistics {
    margin-top: 100px;

    &-amount {
        font-size: 3rem;
    }

    &-unit {
        margin-bottom: 30px;
        width: 50%;
        font-size: 1.2rem;
        color: #969a9b;
    }
}