.navbar {
    background-color: #032b4a;
    text-transform: uppercase;
    font-weight: 600;

    &-dark &-nav .nav-link {
        color: white;

        &:hover, &:active, &:focus {
            color: #ffa700;
        }
    }
    
    &-collapse {
        text-align: center;
    }

    .nav-item {
        margin: 0 10px;
    }

    .nav-btn {
        width: 110px;
        height: 100px;
        background-color: #ffa700;
        border: 0;

        &-span {
            text-transform: uppercase;
            font-weight: 900;
            color: #380600;
        }
    }
}